.tab-1__addIcon {
    margin-right: 10px;
}

.item-padding {
    padding: 3px;
}

.item-flex {
    display: flex;
}

.item-flex ion-badge {
    margin-left: 10px;
}

ion-button {
    margin: 0 10px;
}

.template-message {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   height: 100%;
}